<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Composer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>Composer.servlet.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>Composer.servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createallsongsplaylist</servlet-name>
    <servlet-class>Composer.servlet.CreateAllLikedSongsPlayList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createallsongsplaylist</servlet-name>
    <url-pattern>/createallsongsplaylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletesong</servlet-name>
    <servlet-class>Composer.servlet.DeleteSongFromAllLikedSongsPlayList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletesong</servlet-name>
    <url-pattern>/deletesong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readuseralllikedsongplaylist</servlet-name>
    <servlet-class>Composer.servlet.ReadUserAllLikedSongsPlayList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readuseralllikedsongplaylist</servlet-name>
    <url-pattern>/readuseralllikedsongplaylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUserFavorites</servlet-name>
    <servlet-class>Composer.servlet.CreateUserFavorites</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserFavorites</servlet-name>
    <url-pattern>/CreateUserFavorites</url-pattern>
  </servlet-mapping>
</web-app>